.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
}

.modal {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .85;
 }
 
 .progress-striped.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite !important;
    -o-animation: progress-bar-stripes 2s linear infinite !important;
    animation: progress-bar-stripes 2s linear infinite !important;
}